@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mtl-Thin";
  src: url("/fonts/mtl/mtl-Thin.ttf") format("opentype");
}
@font-face {
  font-family: "mtl-Book";
  src: url("/fonts/mtl/mtl-Book.ttf") format("opentype");
}
@font-face {
  font-family: "mtl-Regular";
  src: url("/fonts/mtl/mtl-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "mtl-Medium";
  src: url("/fonts/mtl/mtl-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "mtl-Light";
  src: url("/fonts/mtl/mtl-Light.ttf") format("opentype");
}
@font-face {
  font-family: "mtl-Bold";
  src: url("/fonts/mtl/mtl-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "edi-Ultralight";
  src: url("/fonts/edi/edi-Ultralight.ttf") format("opentype");
}
@font-face {
  font-family: "edi-Thin";
  src: url("/fonts/edi/edi-Thin.ttf") format("opentype");
}
@font-face {
  font-family: "edi-Regular";
  src: url("/fonts/edi/edi-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "edi-Bold";
  src: url("/fonts/edi/edi-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "edi-Heavy";
  src: url("/fonts/edi/edi-Heavy.ttf") format("opentype");
}

:root {
  --ff-thin: "mtl-Thin", sans-serif;
  --ff-base: "mtl-Regular", sans-serif;
  --ff-bold: "mtl-Bold", sans-serif;
  --ff-title: "edi-Thin", serif;

  --font-size-fluid-0: clamp(0.75rem, 1.5vw, 1rem);
  --font-size-fluid-1: clamp(1rem, 2vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 3vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 4vw, 3.5rem);
}

..mint_button {
  appearance: none;
  border: none;
  font-family: var(--ff-thin);
  background-color: black;
  line-height: 1;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  padding: 16px 16px;
  align-items: center;
  color: white;
  transition: all ease-in-out 150ms;
  text-align: center;
  filter: brightness(1);
}

.mint_button:not(:disabled):hover {
  filter: brightness(1.75);
}

.mint_button:disabled {
  filter: brightness(0.2);
  cursor:;
}

.mint_button[data-mint-loading="true"] {
  background: rgba(22, 25, 31, 0.24);
}

.mint_button[data-mint-started="true"] {
  background-image: linear-gradient(270deg, #ff6257, #ff5ca0);
  position: relative;
}

.mint_button[data-mint-started="true"]::after {
  animation-name: pulse;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-color: #ff6257;
  border-radius: inherit;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.mint_button[data-mint-success="true"] {
  background-color: white;
  background-image: none;
  color: black;
  animation: none;
  position: static;
}

.mint_button[data-mint-success="true"]::after {
  content: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* h1,h2,h3,h4,h5{
  overflow: hidden;
} */

h1,
h2 {
  font-family: var(--ff-title), serif;
  font-weight: 100;
}

h3,
h4,
h5 {
  font-family: var(--ff-base);
}

p {
  font-family: "mtl-light", "sans-serif";
}

.wrapper {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 60rem;
}

.flow > * + * {
  margin-top: 5vh;
}

.whiteShadow {
  text-shadow: 0px 0px 8px white; /* Adjust the values as needed */
}

.spaced {
  justify-content: space-between;
  align-items: center;
}

img {
  border-radius: 8px;
}

.jumbo span {
  display: inline-block;
}

.jumboImg {
  z-index: 0;
  max-height: 70vh;
  align-self: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.placeholder-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: rgb(116, 116, 116) 0px 4px 8px -4px;
  border: 1px white solid;
}

/* Style for the attribute div */
.sidebar > div {
  border-bottom: 1px solid #ddd;
}

.palette-colors {
  display: inline-flex;
  gap: 2px;
}

.color-swatch {
  display: inline-block;
  width: 15px;
  height: 25px;
  border-radius: 2px;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f6f7f8 0px, #edeef1 40px, #f6f7f8 80px);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.slider .token-wrapper {
  flex: 0 0 20%; /* Each token takes up 20% of the slider (for 5 tokens) */
  max-width: 20%; /* Ensures that each token doesn't grow beyond 20% */
  /* Add more styling for padding, margin, etc., as needed */
}

/* Responsive adjustments, if necessary */
@media (max-width: 600px) {
  .slider .token-wrapper {
    flex: 0 0 40%; /* Each token takes up 40% of the slider (for 2.5 tokens) */
    max-width: 40%;
  }
}

.image-wrapper {
  background: linear-gradient(270deg, grey, lightgrey, grey);
  background-size: 200% 200%;
  animation: gradient 2s ease-in-out infinite;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
